// goes at the top
.no-scroll {
    position: fixed;
    overflow:hidden;
    width:100%;
}
.blurred {
    filter:blur(5px);
}
/* Helpers Classes */
.is-bg-primary {
    background-color:$primary;
}
.is-color-primary {
    color:$primary;
}
.is-bg-secondary {
    background-color:$secondary;
}
.is-color-secondary {
    color:$secondary;
}
.bg-centered {
   background-position: center;
}
.bg-no-repeat {
   background-repeat: no-repeat;
}
.bg-cover {
   background-size: cover;
}

// nav-standard component
.nav-standard {
    position: relative;
    display: flex;
    z-index:10;
}
.nav-standard svg {
    display: block;
}
.nav-standard__burger {
    cursor: pointer;
    padding: 12px 0;
    border: none;
    user-select:none;
    background-color: transparent;
    outline: none;
    @media(min-width:$tablet){
        margin-right:10px;
    }
    span {
        position: relative;
        display: block;
        width: 28px;
        height: 4px;
        background:$primary;
        transition: all 0.2s ease-in-out;
        &:before,
        &:after {
            position: absolute;
            background: $primary;
            content: "";
            width: 28px;
            height: 4px;
            transition: all 0.2s ease-in-out;
        }
        &:before {
            top: -8px;
        }
        &:after {
            top: 8px;
        }
  }
}
.nav-standard__burger--open {
    span {
        background: transparent;
        &:before {
            transform: rotate(45deg) translate(5px, 6px);
        }
        &:after {
            transform: rotate(-45deg) translate(5px, -6px);
        }
    }
}
.nav-standard__menu-button {
    display: flex;
    align-items:center;
    align-self:center;
    margin: auto;
    cursor: pointer;
    padding:1rem;
}
.nav-standard--border-bottom {
    border-bottom:5px solid $primary;
}
.nav-standard__item {
    display: flex;
    flex-grow:1;
    flex-shrink:1;
    justify-content:center;
    align-items:center;
    &--small {
        flex-basis:15%;
    }
    &--large {
        flex-basis:70%;
    }
    &--align-left {
        justify-content:flex-start;
    }
}
.nav-standard__logo {
    display:inline-block;
    height:100%;
    padding: 0.5rem;
}
.nav-standard__search-block {
    position: relative;
    height:100%;
    width:100%;
    display: flex;
    @media(min-width:$tablet){
        background-color:rgb(50,50,50);
    }
}
.nav-standard__search-input {
    display: none;
    background-color:rgb(50,50,50);
    border:none;
    border-radius:0;
    @media(min-width:$tablet){
        flex:3 3 75%;
        height:100%;
        display:inline-block;
        font-size:1.5rem;
        padding:0.5rem 1rem 0.5rem 3rem;
        outline:none;
    }
}
.nav-standard__search-icon {
    width:20px;
    height:20px;
    display: none;
    @media(min-width:$tablet){
        position: absolute;
        top:50%;
        left:15px;
        transform:translateY(-50%);
        display: inline-block;
    }
}
.nav-standard__telephone {
    position: absolute;
    top: 30%;
    right: 15px;
    padding:0 1rem 0 0;
    align-items:center;
    font-size: 1rem;
    @media(max-width:400px){
        display: none;
    }
    & > span > span {
        color:rgb(200,200,200);
        font-size:1.25rem;
    }
}
.nav-standard__menu-text {
    display: none;
    @media(min-width:$tablet){
        display: block;
    }
}

// navbarHalfHeightComponent
.menu-half__wrapper {
    width: 100%;
    position:absolute;
    top:107%;
    left:0;
    z-index: 30;
    background-color:$secondary;
    padding:5rem 0;
}

.menu-full__wrapper {
    width: 100%;
    height:100vh;
    position:absolute;
    top: calc(100% + 5px);
    left:0;
    z-index: 30;
    background-color:$secondary-transparent;
    // padding:5rem 0;
    overflow: auto;
}
.menu-full__close {
    position: absolute;
    top:5%;
    right:5%;
    cursor: pointer;
    svg {
        width:20px;
        height:20px;
    }
}
.menu-full__close-fill {
    fill:#fff;
}
.nav-standard__item-menu {
    @media(max-width:768px){
        order:3;
    }
}
.is-slick {
    flex-basis: 100% !important;
    @media(min-width:768px){
        flex-basis: 65% !important;
    }
}
.tile.is-parent.is-vertical {
    flex-basis: 100% !important;
    @media(min-width:768px){
        flex-basis: 35% !important;
    }
}
.cards_image {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: 50%;
}
