<template>
    <div>
      <div v-for="(item, index) in items.blocks" v-bind:key="index">
        <b-collapse class="card" :open="false">
          <div slot="trigger" slot-scope="props" class="card-header">
              <p class="card-header-title">
                  {{ item.title }}
              </p>
              <a class="card-header-icon">
                  Open
                  <b-icon
                      :icon="props.open ? 'menu-down' : 'menu-up'">
                  </b-icon>
              </a>
          </div>
          <div class="card-content">
              <div class="content" v-html="item.content"></div>
          </div>
      </b-collapse>
      </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],
        data() {
          return {
            items: []
          }
        },
        beforeMount: function () {
            if (typeof this.data !== 'undefined') {
                this.items = this.data;
            }
        }
    }
</script>