<template>
  <div>
    <nav class="navbar is-transparent">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/admin">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
          </a>
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/admin">
              Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">
                Admin
              </a>
              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/documentation/overview/start/">
                  Taxonomies
                </a>
                <a class="navbar-item" href="/documentation/overview/start/">
                  Components
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                  Content
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                  Images
                </a>
                <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                  Forms
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                  Stats
                </a>
                <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                  Site Settings
                </a>
                <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                  Manage Users
                </a>
              </div>
            </div>
          </div>
          <div class="navbar-end">
              <div class="navbar-item">
                  <div class="field is-grouped">
                      <p class="control has-icons-left is-hidden-touch"><input type="text" placeholder="Search..." class="input nav-search" style="width: 200px;"> <span class="icon is-left"><svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <i class="fas fa-search"></i> --></span></p>
                      <form id="logout-form" action="/logout" method="POST">
                        <input type="hidden" name="_token" :value="csrf">
                        <p class="control"><button href="/logout" type="submit" class="button"><span class="icon is-small"><svg class="svg-inline--fa fa-sign-in-alt fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="sign-in-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path></svg><!-- <i class="fas fa-sign-in-alt"></i> --></span> <span>Logout</span></button></p>
                      </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
    export default {
       data() {
          return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          };
        },
        mounted() {
            console.log('Admin NavBar Component mounted.')
        }
    }
</script>
