<template>
    <div>
        <div class="article_heading_wrapper">
          <h1 class="title is-size-1-desktop"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70"><path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path></svg> <br>
            {{ items.title }}
          </h1>
          <a href="/news" class="subtitle article_subheading is-size-7">
            <strong>More News ></strong>
          </a>
        </div>
        <div class="columns tablegrid" :class="items.classes">
          <div class="column" v-for="(item, index) in items.articles" v-bind:key="index">
            <a :href="item.slug">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img :src="item.image != null ? item.image : '/storage/placeholders/placeholder.jpg'" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <!-- <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="/storage/staff/beckyfrain.jpg" alt="Placeholder image">
                      </figure>
                    </div> -->
                    <div class="media-content">
                      <p class="title is-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70"><path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path></svg><br>{{ item.title }}</p>
                      <!-- <p class="subtitle is-6">@rebeccafrain</p> -->
                    </div>
                  </div>
                  <div class="content">
                    <p>{{ item.subtitle }}</p> 
                    <span v-text="date(item.created_at)"></span>
                    <!-- <a>@rotherham</a>. -->
                    <!-- <a href="#">#arcflash</a> <a href="#">#training</a> -->
                    <br>
                  </div>
                  <div class="card__accent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35"><text data-name="&gt;" transform="matrix(.924 0 0 .924 -3.229 30)" font-size="55" fill="rgb(154,154,154)" stroke="rgb(154,154,154)" stroke-width="2">&gt;</text></svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
</template>

<script>
    import Hero from './HeroComponent.vue';
    import Moment from 'moment';
    export default {
        props: ['articles'],
        components: { Hero },
        data() {
          return {
            items: []
          }
        },
        methods: {
            date(date) {
                return Moment(date).format('MMMM Do YYYY');
            }
        },
        beforeMount: function () {
            if (typeof this.articles !== 'undefined') {
                this.items = this.articles;
            }
        }
    }
</script>
