<template>
  <section class="section">
    <article class="message">
      <div class="message-header">
        <p>Tiles</p>
      </div>
      <div class="message-body">
        <div class="field">
          <label for="action" class="label">
            Active
          </label> 
          <b-switch v-model="items.hero.active"
              true-value="true"
              false-value="false">
          </b-switch>
        </div>
        <div class="field">
          <label for="action" class="label">
            Title
          </label> 
          <div class="control">
            <input id="action" class="input" v-model="items.hero.title">
          </div>
        </div>
        <p class="content"><b>Selected:</b> {{ selected }}</p>
        <b-field label="Find a movie">
          <b-autocomplete
            v-model="name"
            :data="images"
            placeholder="e.g. Fight Club"
            field="title"
            :loading="isFetching"
            @input="getAsyncData"
            @select="option => selected = option">

            <template slot-scope="props">
                <div class="media">
                    <div class="media-left">
                        <img width="32" :src="`https://image.tmdb.org/t/p/w500/${props.option.poster_path}`">
                    </div>
                    <div class="media-content">
                        {{ props.option.title }}
                        <br>
                        <small>
                            Released at {{ props.option.release_date }},
                            rated <b>{{ props.option.vote_average }}</b>
                        </small>
                    </div>
                </div>
            </template>
          </b-autocomplete>
        </b-field>
      </div>
    </article>
  </section>
</template>

<script>
    import axios from 'axios';
    import debounce from 'lodash/debounce'

    const classes = require('./assets/data_test.json')

    export default {
        props: ['data', 'homepagedebug'],
        data() {
            return {
                filteredTags: classes,
                isSelectOnly: false,
                tags: [],
                items: [],
                images: [],
                name: '',
                selected: null,
                isFetching: false
            }
        },
        methods: {
            getFilteredTags(text) {
                this.filteredTags = classes.filter((option) => {
                    return option.user.first_name
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            },
            getAsyncData: debounce(function () {
                this.images = []
                this.isFetching = true
                axios.get(`https://api.themoviedb.org/3/search/movie?api_key=bb6f51bef07465653c3e553d6ab161a8&query=${this.name}`)
                    .then(({ data }) => {
                        data.results.forEach((item) => this.images.push(item))
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500)
        },
        beforeMount: function () {
            if (this.data) {
                this.items = JSON.parse(this.data.data);
            } else {
                this.items = [];
            }
            if (this.homepagedebug) {
                console.log(this.data.data, this.items);
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
