<template>
    <div>
        <transition name="fade">
            <div class="columns is-mobile is-centered is-gapless columns-padding" v-show="visible" v-bind:style="{ 'background-color': this.items.background }">
                <div class="column" :class="item.class" v-for="(item, index) in this.items.columns" v-bind:key="index">
                    <div v-html="item.title"></div>
                    <button v-if="item.accept == true" @click="accept" class="button is-info">Accept</button>
                    <button v-if="item.removeBanner == true" @click="visible = !visible" class="delete"></button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        props: ['data', 'coursepagedebug'],
        data() {
            return {
                items: [],
                visible: true
            };
        },
        methods: {
            accept() {
                this.setCookie('gdpr','true',365);
                this.visible = false;
            },
            getCookie(name) {
                let cookie = {};
                document.cookie.split(';').forEach(function(el) {
                    let [k,v] = el.split('=');
                    cookie[k.trim()] = v;
                })
                return cookie[name];
            },
            setCookie(name,value,days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days*24*60*60*1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "")  + expires + "; path=/";
            }
        },
        beforeMount: function () {
            var gdpr = this.getCookie("gdpr");
            if (this.data.banner.length && this.data.banner.type == 'gdpr' && typeof gdpr !== 'undefined') {
                this.visible = false;
            }
            if (typeof this.data.banner !== 'undefined') {
                this.items = this.data.banner;
            } else {
                this.items = [{background: null, columns: null}];
            }
            if (this.bannerdebug) {
                console.log(this.data, this.items);
            }
        },
    }
</script>

<style>
.columns-padding {
  padding: 1rem;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
