<template>
    <section>
        <div class="box">
            <p class="subtitle">Add Block Data</p>
            
            <input type="hidden" name="id" v-model="items.id" />

            <b-field v-if="types" label="Type">
                <b-select name="type" placeholder="Select a type" v-model="items.type">
                    <option
                        v-for="option in types"
                        :value="option.type"
                        :key="option.id">
                        {{ option.type }}
                    </option>
                </b-select>
            </b-field>
            
            <b-field v-else label="Type">
                <b-input maxlength="100" name="type" placeholder="Specify a block type" v-model="items.type" required></b-input>
            </b-field>

            <b-field label="Title">
                <b-input maxlength="100" name="title" placeholder="The title of this page" v-model="title"></b-input>
            </b-field>

            <b-field label="Slug">
                <b-input maxlength="100" name="slug" placeholder="The slug that is used to navigate to this block" v-model="slug"></b-input>
            </b-field>

            <a class="button is-primary" @click="generateSlug">Click to auto-generate slug from title</a>
            <br>
            <br>

            <b-field label="Subtitle">
                <b-input  maxlength="300" name="subtitle" placeholder="Add a subtitle if you wish" v-model="items.subtitle"></b-input>
            </b-field>
            
            <div class="field">
                <label class="label">Content</label>
                <editor 
                    api-key="ywl5k83nd2tvw123clja6qpop2da8luecisyna4iu3uo4m9v" 
                    :init="{plugins: 'wordcount'}" 
                    v-model="initialContent"
                    name="content">
                </editor>
            </div>
            <br>
            <label class="label">Images</label>
            <div class="notification">
                <b-field label="SVG Image">
                    <b-input type="textarea" name="svg_image" placeholder="Insert SVG Code" v-model="items.svg_logo"></b-input>
                </b-field>
                <div v-html="rawHtml"></div>
                <a href="https://jakearchibald.github.io/svgomg/">Optimise your image before saving!</a>
            </div>
            <div class="notification">
                <b-field label="Image File Upload"></b-field>
                <img :src="items.image" v-if="items.image != null" />
                <b-field class="file">
                    <b-upload v-model="files" name="image">
                        <a class="button is-primary">
                            <b-icon icon="upload"></b-icon>
                            <span>Click to upload</span>
                        </a>
                    </b-upload>
                    <span class="file-name" v-if="files && files.length">
                        {{ files[0].name }}
                    </span>
                </b-field>
                <div v-if="items.image" class="tags">
                    <span class="tag is-primary" >
                        {{ items.image }}
                        <button class="delete is-small"
                            type="button"
                            @click="deleteImage()">
                        </button>
                    </span>
                </div>
                <b-field label="Image Alt Text">
                    <b-input maxlength="70" name="image_alt" placeholder="Alternative text that describes your image" v-model="items.image_alt"></b-input>
                </b-field>
                <input type="hidden" name="existing_image" v-model="items.existing_image">
                <input type="hidden" name="delete_image" v-model="items.delete_image">
            </div>
            <label class="label">Media</label>
            <div class="notification">
                <b-field label="Video URL">
                    <b-input maxlength="70" name="video_url" placeholder="URL for video you wish to display" v-model="items.video_url"></b-input>
                </b-field>
            </div>
            <label class="label">Downloads</label>
            <div class="notification">
                <b-field label="Download link (clicking the block will trigger the download)"></b-field>
                <b-field class="file">
                    <b-upload v-model="download" name="download">
                        <a class="button is-primary">
                            <b-icon icon="upload"></b-icon>
                            <span>Click to upload</span>
                        </a>
                    </b-upload>
                    <span class="file-name" v-if="download && download.length">
                        {{ download[0].name }}
                    </span>
                </b-field>
                <div v-if="items.download" class="tags">
                    <span class="tag is-primary" >
                        {{ items.download }}
                        <button class="delete is-small"
                            type="button"
                            @click="deleteDownload()">
                        </button>
                    </span>
                </div>
                <input type="hidden" name="existing_download" v-model="items.existing_download">
                <input type="hidden" name="delete_download" v-model="items.delete_download">
                <b-field label="Downloads on page"></b-field>
                <b-field>
                    <b-upload v-model="dropFiles"
                        name="downloads[]"
                        multiple
                        drag-drop>
                        <section class="section">
                            <div class="content has-text-centered">
                                <p>
                                    <b-icon
                                        icon="upload"
                                        size="is-large">
                                    </b-icon>
                                </p>
                                <p>Drop your files here or click to upload</p>
                            </div>
                        </section>
                    </b-upload>
                </b-field>
                <div class="tags">
                    <span v-for="(file, index) in dropFiles"
                        :key="index"
                        class="tag is-primary" >
                        {{file.name}}
                        <button class="delete is-small"
                            type="button"
                            @click="deleteDropFile(index)">
                        </button>
                    </span>
                </div>
                <div v-for="(item, index) in items.downloads" v-bind:key="index">
                    <input class="input" type="text" :placeholder="'Name for download ' + index">
                </div>
            </div>
             <label class="label">
                 Block Meta
                <svg v-if="!showMeta" style="width:24px;height:24px;cursor: pointer;" viewBox="0 0 24 24" @click="showMeta = !showMeta">
                    <path fill="#000000" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" />
                </svg>
                <svg v-if="showMeta" style="width:24px;height:24px;cursor: pointer;" viewBox="0 0 24 24" @click="showMeta = !showMeta">
                    <path fill="#000000" d="M11.83,9L15,12.16C15,12.11 15,12.05 15,12A3,3 0 0,0 12,9C11.94,9 11.89,9 11.83,9M7.53,9.8L9.08,11.35C9.03,11.56 9,11.77 9,12A3,3 0 0,0 12,15C12.22,15 12.44,14.97 12.65,14.92L14.2,16.47C13.53,16.8 12.79,17 12,17A5,5 0 0,1 7,12C7,11.21 7.2,10.47 7.53,9.8M2,4.27L4.28,6.55L4.73,7C3.08,8.3 1.78,10 1,12C2.73,16.39 7,19.5 12,19.5C13.55,19.5 15.03,19.2 16.38,18.66L16.81,19.08L19.73,22L21,20.73L3.27,3M12,7A5,5 0 0,1 17,12C17,12.64 16.87,13.26 16.64,13.82L19.57,16.75C21.07,15.5 22.27,13.86 23,12C21.27,7.61 17,4.5 12,4.5C10.6,4.5 9.26,4.75 8,5.2L10.17,7.35C10.74,7.13 11.35,7 12,7Z" />
                </svg>
             </label>
            <div class="notification" v-show="showMeta">
                <b-field label="Meta Title">
                    <b-input  maxlength="60" name="meta_title" placeholder="Override the calculated Meta Title for this block (when displayed as a page)" v-model="items.meta_title"></b-input>
                </b-field>
                <b-field label="Meta Keywords">
                    <b-input  maxlength="160" name="meta_keywords" placeholder="Override the calculated Meta Keywords for this block (when displayed as a page)" v-model="items.meta_keywords"></b-input>
                </b-field>
                <b-field label="Meta Description">
                    <b-input  maxlength="160" name="meta_description" placeholder="Override the calculated Meta Description for this block (when displayed as a page)" v-model="items.meta_description"></b-input>
                </b-field>
                <b-field label="Class (Start typing to see a list of available classes)">
                    <b-input  maxlength="200" name="classes" placeholder="Classes that will alter the style of the block when it is displayed" v-model="items.classes"></b-input>
                </b-field>
            </div>
        </div>
        <label class="checkbox">
            <input type="checkbox" name="create_route">
            Do you wish to create a route that can be used to access this block? (If so then check it!)
        </label>
        <br>
        <br>
        <input type="submit" :value="create ? 'Create' : 'Edit'" class="button is-medium"/>
    </section>
</template>

<script>
    import Editor from '@tinymce/tinymce-vue';
    export default {
        components: {
            'editor': Editor 
        },
        props: ['block', 'blockdebug', 'types'],
        data() {
            return {
                items: {},
                files: [],
                download: null,
                downloads: null,
                initialContent: '',
                rawHtml: null,
                showMeta: false,
                title: '',
                slug: '',
                create: false,
                dropFiles: []
            }
        },
        methods: {
            generateSlug() {
                let slug = this.title;
                if (typeof slug != "undefined") {
                    let str = slug.replace(/^\s+|\s+$/g, ''); // trim
                    str = str.toLowerCase();
                    // remove accents, swap ñ for n, etc
                    let from = "ãàáäâẽèéëêìíïîõòóöôùúüûñç·/_,:;";
                    let to   = "aaaaaeeeeeiiiiooooouuuunc------";
                    for (let i=0, l=from.length ; i<l ; i++) {
                    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
                    }
                    str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
                    .replace(/\s+/g, '-') // collapse whitespace and replace by -
                    .replace(/-+/g, '-'); // collapse dashes
                    this.slug = str;
                }
            },
            deleteDropFile(index) {
                this.dropFiles.splice(index, 1)
            },
            deleteDownload() {
                this.items.download = null;
                this.items.delete_download = true;
            },
            deleteImage() {
                this.items.image = null;
                this.items.delete_image = true;
            }
        },
        beforeMount: function () {
            if (typeof this.block.id !== 'undefined') {
                this.items = this.block;
                this.initialContent = this.block.content;
                this.slug = this.block.slug;
                this.title = this.block.title;
                this.rawHtml = this.block.svg_logo;
                this.published = this.block.published;
                this.items.delete_image = false;
                this.items.delete_download = false;
                this.items.downloads = JSON.parse(this.block.files);
                if (this.items.downloads.constructor === Array) {
                    this.items.downloads.forEach((file) => {
                        console.log('file', file);
                        this.dropFiles.push(new File([""], file, {type: "text/plain"}));
                    });
                }
            } else {
                this.create = true;
            }
            if (this.blockdebug) {
                console.log(this.settings, this.items);
            }
        }
    }
</script>
