<template>
  <div>
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="#">Bulma</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Components</a></li>
        <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
      </ul>
    </nav>
  </div>
</template>

<script>
    export default {
        props: ['data', 'breadcrumbdebug'],
        data() {
            return {
                items: [],
                visible: true
            };
        },
        beforeMount: function () {
            if (typeof this.data.breadcrumb !== 'undefined') {
                this.items = this.data.breadcrumb;
            } else {
                this.items = [{background: null, columns: null}];
            }
            if (this.breadcrumbdebug) {
                console.log(this.data, this.items);
            }
        },
    }
</script>