<template>
    <div>
        <h1 class="title is-1">
          {{ items.title }}
        </h1>
        <div class="columns tablegrid" :class="items.classes">
          <div class="column" v-for="(item, index) in items.cards" v-bind:key="index" :class="item.classes">
            <a :href="item.slug">
              <div class="card full-height">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <div class="cards_image darken" v-bind:style="{ 'background-image': 'url(' + settings.image_url + item.image + ')'  }"></div>
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70"><path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path></svg><br>{{ item.title }}</p>
                    </div>
                  </div>
                  <div class="content">
                    <p>{{ item.subtitle }}</p>
                  </div>
                  <div class="card__accent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35"><text data-name="&gt;" transform="matrix(.924 0 0 .924 -3.229 30)" font-size="55" fill="rgb(154,154,154)" stroke="rgb(154,154,154)" stroke-width="2">&gt;</text></svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['cards', 'settings'],
        data() {
          return {
            items: []
          }
        },
        beforeMount: function () {
            if (typeof this.cards !== 'undefined') {
                this.items = this.cards;
            }
        }
    }
</script>
