<template>
    <div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <section class="section">
                        <p class="title is-3">Find out more about our services</p>
                        <p>To find out more about our services simply contact us using the contact form below, feel free to ask any questions or come and visit us using the details provided to the right. We look forward to hearing from you.</p>
                        <br>
                        <form method="POST" action="/contact">
                            <input type="hidden" name="_token" :value="csrf">
                            <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Company</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                <p class="control">
                                    <input class="input" name="company" type="text" placeholder="Please enter the name of your company">
                                </p>
                                </div>
                            </div>
                            </div>
                            <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                <p class="control">
                                    <input class="input" name="name" type="text" placeholder="Please enter your name">
                                </p>
                                </div>
                            </div>
                            </div>
                            <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Email</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                <p class="control">
                                    <input class="input" name="email" type="email" placeholder="Please enter your email address">
                                </p>
                                </div>
                            </div>
                            </div>
                            <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Phone</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                <p class="control">
                                    <input class="input" type="text" name="phone" placeholder="Please enter a number we can contact you on">
                                </p>
                                </div>
                            </div>
                            </div>
                            <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Query</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                <p class="control">
                                <textarea class="textarea" name="question" placeholder="Please use this box to ask your question"></textarea>
                                </p>
                                </div>
                            </div>
                            </div>
                            <div class="field is-horizontal">
                            <div class="field-label is-normal">

                            </div>
                            <div class="field-body">
                                <div class="field">
                                <p class="control">
                                <button class="button is-primary" type="submit">Submit your enquiry</button>
                                </p>
                                </div>
                            </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <section class="section">
                    <p class="title is-3">Company Information</p>
                    <p class="title is-6">Electrical Safety (UK) Ltd</p>
                    <p>Unit 2 Genesis Business Park</p>
                    <p>Sheffield Road</p>
                    <p>Rotherham</p>
                    <p>S60 1DX</p>
                    <p>Tel: 0800 652 1124</p>
                    <p>Tel: 01709 961 666</p>
                    <br>
                    <p>Email: <a href="mailto:info@elecsafety.co.uk">info@elecsafety.co.uk</a></p>
                    <br>
                    <p>Electrical Safety (UK) Ltd </p>
                    <p>Registered in England and Wales </p>
                    <p>Company Reg Number: 05223853</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Hero from './HeroComponent.vue';

    export default {
        props: ['data', 'pagedebug', 'settings'],
        components: { Hero },
        data() {
            return {
                items: [],
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            };
        },
        beforeMount: function () {
            if (this.data) {
                this.items = this.data;
            } else {
                this.items = {};
            }
            if (this.pagedebug) {
                console.log(this.data, this.items);
            }
        },
    }
</script>