//https://codepen.io/raubaca/pen/PZzpVe
<template>
    <footer class="footer app-footer section is-medium has-text-white">
        <div class="container">
            <div class="columns">
                <div class="column is-5 is-4-widescreen">
                    <div class="summary">
                        <a class="brand" href="/">
                            <div class="brand-icon" v-html="items.svg_logo"> 
                                
                            </div>
                            <div class="brand-content">
                                <div class="has-text-white"><strong>{{ items.main.title }}</strong></div>
                                <div class="brand-subtitle has-text-white">{{ items.main.subtitle }}</div>
                            </div>
                        </a>
                        <hr class="spacer is-1">
                            <div v-html="items.main.content"></div>
                        <hr class="spacer is-1">
                        <a href="http://www.littlelightsstudio.com" target="_blank" class="has-text-white"> 
                            © MMedia &amp; Design 2018
                        </a> 
                    </div>
                </div>
                <div class="column is-7 is-6-widescreen is-offset-2-widescreen">
                    <div class="columns">
                        <div class="column is-4">
                            <div class="menu">
                                <p class="menu-label">{{ items.heading1 }}</p>
                                <ul class="menu-list" v-for="(item, index) in items.category1" v-bind:key="index">
                                    <li>
                                        <a :href="item.slug">{{ item.title  }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="menu">
                                <p class="menu-label">{{ items.heading2 }}</p>
                                <ul class="menu-list" v-for="(item, index) in items.category2" v-bind:key="index">
                                    <li>
                                        <a :href="item.slug">{{ item.title  }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="menu">
                                <p class="menu-label">{{ items.heading3 }}</p>
                                <ul class="menu-list" v-for="(item, index) in items.category3" v-bind:key="index">
                                    <li>
                                        <a :href="item.slug">{{ item.title  }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
          return {
            items: []
          }
        },
        beforeMount: function () {
            if (typeof this.settings !== 'undefined') {
                this.items = this.settings.footer;
                if (typeof this.items.main == 'undefined') {
                    this.items.main = {};
                    this.items.main.title = 'Some Title';
                    this.items.main.subtitle = 'Some Subtitle';
                    this.items.main.content = 'Some Company Info';
                } else {
                    this.items.main = this.items.main[0];
                }
            }
        }
    }
</script>