<template>
  <section class="hero bg-centered bg-no-repeat bg-cover" :style="{ 'background-image': this.hero.image != null ? `url(${this.hero.image})` : 'url(/storage/placeholders/header-image.jpg)'}" :class="this.hero.classes">
    <div class="hero-body">
      <div class="container" v-for="(item, index) in hero.blocks" v-bind:key="index">
        <h1 class="title is-1" :class="typeof item.class != 'undefined' ? item.class : 'has-text-white'">
          <div v-if="typeof settings != 'undefined' && settings.svg_placeholder != null" v-html="settings.svg_placeholder"></div>
          {{ typeof item.title != 'undefined' ? item.title : '' }}
        </h1>
        <h2 class="subtitle">
          {{ typeof item.subtitle != 'undefined' ? item.subtitle : '' }}
        </h2>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        props: ['hero', 'settings']
    }
</script>
