<template>
  <div>
    <Hero :hero="this.items.splashhero" :settings="this.settings" v-if="this.items.splashhero.active == 'true'"></Hero>
    <Tiles :tiles="this.items.tiles" :settings="this.settings" v-if="this.items.tiles.active == 'true'"></Tiles>
    <Hero :hero="this.items.hero" :settings="this.settings" v-if="this.items.hero.active == 'true'"></Hero>
    <section class="section" v-if="typeof items.type != 'undefined'">
        <div class="container">
            <div class="columns is-multiline">
                <div v-for="(item, index) in items.type.blocks" v-bind:key="index" class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <a :href="item.slug">
                                    <div class="cards_image" v-bind:style="{ 'background-image': 'url(' + (item.image != null ?  settings.image_url + item.image : '/storage/placeholders/' + items.type.type + '-placeholder.jpg') + ')'  }"></div>
                                </a>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div v-if="item.download != null" class="media-content">
                                    <a :href="settings.image_url + item.download" download><p class="title is-4">{{ item.title }}</p></a>
                                </div>
                                <div v-else class="media-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70"><path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path></svg>
                                    <a :href="item.slug"><p class="title is-4">{{ item.title }}</p></a>
                                </div>
                            </div>
                            <div class="content" v-if="item.type == 'article' || item.type == 'news-event'">
                                {{ item.subtitle }}
                                <span v-text="date(item.created_at)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" v-if="this.items.cards">
        <div class="container">
            <Cards :cards="this.items.cards" :settings="this.settings" v-if="this.items.cards.active == 'true'"></Cards>
        </div>
    </section>
    <section class="section" v-if="this.items.articles">
        <div class="container breaks">
            <div class="columns">
                <div class="column is-three-fifths">
                    <Articles :articles="this.items.articles"  :settings="this.settings" v-if="this.items.articles.active == 'true'"></Articles>
                </div>
                <div class="column is-two-fifths">
                    <CourseList :courses="this.items.courses" :courselistdebug="false" v-if="this.items.courses.active == 'true'"></CourseList>
                </div>
            </div>
        </div>
    </section>
    <section class="section" v-if="settings.display_map == true">
        <div id="home-map" class="container box"></div>
    </section>
  </div>
</template>

<script>
    import Hero from './HeroComponent.vue';
    import Tiles from './TilesComponent.vue';
    import Articles from './ArticlesComponent.vue';
    import Cards from './CardsComponent.vue';
    import CourseList from '../../../../packages/courses/js/components/CourseListComponent.vue';
    export default {
        props: ['data', 'homepagedebug', 'settings'],
        components: { Hero, Tiles, Articles, Cards, CourseList },
        data() {
            return {
                items: []
            };
        },
        beforeMount: function () {
            if (this.data) {
                this.items = this.data;
            } else {
                this.items = [];
            }
            if (this.homepagedebug) {
                console.log(this.data, this.items);
            }
        },
    }
</script>
