<template>
  <div>
    <section class="section">
        <article class="message">
            <div class="message-header">
            <p>Full Page Hero</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.splashhero.active"
                        true-value=true
                        false-value=false>
                    </b-switch>
                </div>
            </div>
        </article>
    </section>
    <section class="section">
        <article class="message">
            <div class="message-header">
            <p>Tiles</p>
            </div>
            <div class="message-body">
            <div class="field">
                <label for="action" class="label">
                Active
                </label> 
                <b-switch v-model="items.hero.active"
                    true-value="true"
                    false-value="false">
                </b-switch>
            </div>
            <b-field label="Choose Articles">
                <b-taginput
                    v-model="items.hero.classes"
                    :data="filteredTags"
                    autocomplete
                    field="user.first_name"
                    icon="label"
                    placeholder="Add a class"
                    @typing="getFilteredTags">
                </b-taginput>
            </b-field>
            <b-field label="Choose Articles">
                <b-taginput
                    v-model="items.hero.classes"
                    :data="filteredTags"
                    autocomplete
                    field="user.first_name"
                    icon="label"
                    placeholder="Add a class"
                    @typing="getFilteredTags">
                </b-taginput>
            </b-field>
            <pre style="max-height: 400px"><b>Classes:</b>{{ items.hero.classes }}</pre>
            </div>
        </article>
    </section>
    <section class="section">
      <article class="message">
        <div class="message-header">
          <p>Hero Banner</p>
        </div>
        <div class="message-body">
          <div class="field">
            <label for="action" class="label">
              Active
            </label> 
            <b-switch v-model="items.hero.active"
                true-value="true"
                false-value="false">
            </b-switch>
          </div>
          <div class="field">
            <label for="action" class="label">
              Title
            </label> 
            <div class="control">
              <input id="action" class="input" v-model="items.hero.title">
            </div>
          </div>
          <b-field label="Enter some classes">
              <b-taginput
                  v-model="items.hero.classes"
                  :data="filteredTags"
                  autocomplete
                  field="user.first_name"
                  icon="label"
                  placeholder="Add a class"
                  @typing="getFilteredTags">
              </b-taginput>
          </b-field>
          <pre style="max-height: 400px"><b>Classes:</b>{{ items.hero.classes }}</pre>
        </div>
      </article>
    </section>
    <section class="section">
      <article class="message">
        <div class="message-header">
          <p>Articles</p>
        </div>
        <div class="message-body">
          <div class="field">
            <label for="action" class="label">
              Active
            </label> 
            <b-switch v-model="items.hero.active"
                true-value="true"
                false-value="false">
            </b-switch>
          </div>
          <div class="field">
            <label for="action" class="label">
              Section Heading
            </label> 
            <div class="control">
              <input id="action" class="input" v-model="items.article.heading">
            </div>
          </div>
          <b-field label="Enter some article titles">
              <b-taginput
                  v-model="items.article.articles"
                  :data="filteredTags"
                  autocomplete
                  field="user.first_name"
                  icon="label"
                  placeholder="Add an article"
                  @typing="getFilteredTags">
              </b-taginput>
          </b-field>
          <pre style="max-height: 400px"><b>Classes:</b>{{ items.article.articles }}</pre>
        </div>
      </article>
    </section>
    <section class="section">
        <button class="button is-medium" @click="store">
            Save Homepage Settings
        </button>
    </section>
  </div>
</template>

<script>
    import debounce from 'lodash/debounce'
    const classes = require('./assets/data_test.json')

    export default {
        props: ['data', 'homepagedebug'],
        data() {
            return {
                filteredTags: classes,
                isSelectOnly: false,
                tags: [],
                items: [],
                images: [],
                name: '',
                selected: null,
                isFetching: false
            }
        },
        methods: {
            store (page) {
                this.$http.post(
                    '/admin/homepage/save', 
                    this.items,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then(response => {
                    this.$toast.open(response.data.response)
                }).catch((error) => {
                    throw error
                });
            },
            getFilteredTags(text) {
                this.filteredTags = classes.filter((option) => {
                    return option.user.first_name
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            },
            getAsyncData: debounce(function () {
                this.images = []
                this.isFetching = true
                axios.get(`https://api.themoviedb.org/3/search/movie?api_key=bb6f51bef07465653c3e553d6ab161a8&query=${this.name}`)
                    .then(({ data }) => {
                        data.results.forEach((item) => this.images.push(item))
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500)
        },
        beforeMount: function () {
            if (this.data) {
                this.items = JSON.parse(this.data.data);
            } else {
                this.items = [];
            }
            if (this.homepagedebug) {
                console.log(this.data.data, this.items);
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
