<template>
    <div class="menu-half__wrapper">

        <div class="container">
            <div class="columns is-gapless"  @mouseleave="settings.menu.currentChild = ''; settings.menu.currentMenu=''">

                <ul class="column is-4 menu-half__column">
                    <li v-for="item in settings.menu.menu" @mouseover="setMenu(settings,item);resetChild(settings)" class="menu-half__item menu-half__item--first" :class="{'menu-half__is-hoverable':item.children}">
                        <a :href="item.link" class="menu-half__link" :class="{'active-link':(item.title==settings.menu.currentMenu.title)}">{{item.title}}</a>
                    </li>
                </ul>

                <ul v-show="currentMenu.children != null" class="column is-4 menu-half__column">
                    <li v-for="child in currentMenu.children" @mouseover="setChild(settings, child)" class="menu-half__item menu-half__item--child" :class="{'menu-half__is-hoverable':currentMenu.children}">
                        <a :href="child.link" class="menu-half__link menu-half__link--small" :class="{'active-link':(child.title==currentChild.title)}">
                            {{ child.title }}
                        </a>
                    </li>
                </ul>

                <ul v-show="currentChild.children" class="column is-4 menu-half__column menu-half__column--last" @mouseleave="resetChild(settings)">
                    <li v-for="gChild in currentChild.children" class="menu-half__item menu-half__item--gchild" :class="{'menu-half__is-hoverable':currentChild.children}">
                        <a :href="gChild.link" class="menu-half__link menu-half__link--small">
                            {{ gChild.title }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['settings'],
        data() {
            return {
                items: [],
                currentMenu: {},
                currentChild: {}
            };
        },
        methods: {
            setMenu: function(settings,item){
                this.currentMenu = item;
                console.log(this.currentMenu);
            },
            resetMenu: function(settings){
                this.currentMenu = '';
            },
            setChild: function(settings, child){
                this.currentChild = child;
                console.log(this.currentChild);
            },
            resetChild: function(settings){
                this.currentChild = '';
            }
        }
    }
</script>