<template>
     <div class="menu-full__wrapper" v-show="visible">
        <ul class="menu-full__column">
            <li v-for="(item, topindex) in menu" v-bind:key="topindex" class="menu-full__item menu-full__item--top-level" v-bind:class="{'menu-full__has-sub-menu': item.children}">
                <div class="menu-full__entry">
                    <a :href="item.link" @click.stop="null" class="menu-full__link">{{item.title}}</a>
                    <svg v-if="item.children" @click.stop="shouldClose(item,currentMenu,$event);fadeMenus(currentMenu, $event);" :class="{'menu-full__open':(isOpen(currentMenu) && isTitlesEqual(currentMenu, item))}" viewBox="0 0 24 24">
                        <path v-show="!isTitlesEqual(currentMenu, item)" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                        <path v-show="isTitlesEqual(currentMenu, item) && currentMenu.open" class="menu-full__close-fill" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                    </svg>

                </div>
                <ul v-show="item.children && isTitlesEqual(currentMenu, item)" class="menu-full__has-sub-menu">
                    <li v-for="(child, childindex) in item.children" v-bind:key="childindex" class="menu-full__item menu-full__item--child" v-bind:class="{'menu-full__has-sub-menu': child.children}">
                        <div class="menu-full__entry">
                            <a :href="child.link" @click.stop="null" class="menu-full__link menu-full__link--normal">{{ child.title }}</a>
                            <svg v-if="child.children" @click.stop="shouldClose(child,currentChild,$event);fadeMenus(currentChild, $event);" :class="{'menu-full__open':(isOpen(currentChild) && isTitlesEqual(currentChild, child))}" viewBox="0 0 24 24">
                                <path v-show="!isTitlesEqual(currentChild, child)" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                                <path v-show="isTitlesEqual(currentChild, child) && currentChild.open" class="menu-full__close-fill" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                            </svg>
                        </div>
                        <ul v-show="child.children && isTitlesEqual(currentChild, child)" class="menu-full__has-sub-menu">
                            <li v-for="(gChild, gchildindex) in child.children" v-bind:key="gchildindex" class="menu-full__item menu-full__item--gchild">
                                <a :href="gChild.link" class="menu-full__link menu-full__link--light">
                                    {{ gChild.title }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['settings', 'visible'],
        data() {
            return {
                items: [],
                currentMenu:{title:'',open:false},
                currentChild:{title:'',open:false},
                menu: {},
            };
        },
        methods: {
            reset: function(){
                this.setTitle(this.currentMenu, '');
                this.setOpen(this.currentMenu, false);

                this.setTitle(this.currentChild, '');
                this.setOpen(this.currentChild, false);
            },
            closeMenu: function(){
                this.$emit('close-menu', true);
            },
            fadeMenus: function(current, e){
                let el = e.currentTarget.parentNode.parentNode;
                el.style.opacity = 1;

                // reset child opacity
                let children = el.querySelector('.menu-full__has-sub-menu').children;
                [...children].forEach(function(child){
                    child.style.opacity = 1;
                });

                let sibling = el.parentNode.firstChild;
                let siblings = [];
                
                for ( ; sibling; sibling = sibling.nextElementSibling ){ 
                   if ( sibling != el ){
                        siblings.push(sibling);
                   }
                }

                if(current.open){
                    for(let i=0;i<siblings.length;i++){
                        siblings[i].style.opacity = 0.4;
                    }
                }else{
                    for(let i=0;i<siblings.length;i++){
                        siblings[i].style.opacity = 1;
                    }
                }

            },
            shouldClose: function(item, current, e){
                let el = e.currentTarget.parentNode.parentNode;
                if(item.title == current.title && current.open){

                    if(el.classList.contains('menu-full__item--top-level')){
                        this.setTitle(this.currentChild, '');
                        this.setOpen(this.currentChild, false);
                    }
                    this.setOpen(current,false);
                    this.setTitle(current, '');
                    el.classList.remove('menu-full__item--open');

                } else {
                    this.setOpen(current,true);
                    this.setTitle(current, item.title);

                    el.classList.add('menu-full__item--open');
                }
            },

            setTitle: (el, val) => el.title = val,
            getTitle: (el) => el.title,
            setOpen: (el, val) => el.open = val,
            isOpen: (el) => el.open,
            isTitlesEqual: (el1, el2) => el1.title == el2.title,

        },       
        ready: function() {
            let app = document.querySelector('#app');
            document.querySelector('.dropdown-submenu a').addEventListener('click',function(e){
                e.stopPropagation();
            });
        },
        beforeMount: function () {
            if (typeof this.settings.menu.menu !== 'undefined') {
                this.menu = this.settings.menu.menu;
            }
        }
    }
</script>
