<template>
    <div>
        <nav class="nav-standard nav-standard--border-bottom is-bg-secondary">

            <div class="nav-standard__item nav-standard__item--small">
                <a href="/" class="nav-standard__logo"> <!-- Logo -->
                    <div v-if="settings.svg_logo != null" v-html="settings.svg_logo"></div>
                    <div v-else>
                        <img class="sitelogo" src="/storage/logo.png" />
                    </div>
                </a>
            </div>

            <!-- Search / Telephone -->
            <div class="nav-standard__item nav-standard__item--large">
                <div class="nav-standard__search-block">
                    <b-field>
                        <b-autocomplete
                            v-model="name"
                            :data="filteredSearch"
                            field="title"
                            placeholder="Please enter your search query"
                            icon="magnify"
                            @select="option => selected = option"
                            @input="getAsyncData"
                            >
                            <template slot-scope="props">
                                <div class="media">
                                    <div class="media-content">
                                        <a :href="props.option.slug">{{ props.option.title }}</a>
                                    </div>
                                </div>
                            </template>
                        </b-autocomplete>
                    </b-field>
                    <!-- <input type="text" class="nav-standard__search-input is-color-primary"/>  -->
                    <!-- Search -->
                    <span class="nav-standard__search-icon is-color-primary"> <!-- magnifier -->
                        <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                        </svg>
                    </span>
                    
                    <p class="nav-standard__telephone is-color-primary">
                        <span>t: <span>{{ settings.phone }}</span></span>
                    </p>
                </div>
            </div>

            <div class="nav-standard__item nav-standard__item--small nav-standard__item-menu">
                <div class="nav-standard__menu-button" @click="showMenu(); toggleBlur(visible);">
                    <div type="button" :class="{'nav-standard__burger--open': visible}" class="nav-standard__burger">
                        <span></span>
                    </div>
                    <p class="nav-standard__menu-text has-text-white">MENU</p>
                </div>
            </div>

        <Menu :settings="settings" @close-menu="showMenu();toggleBlur(visible);" :visible="visible" v-show="visible"></Menu>
        </nav>

    </div>
</template>

<script>
    import Menu from './MenuFullscreenComponent.vue';
    import debounce from 'lodash/debounce';

    export default {
        props: ['settings'],
        components: { Menu },
        data() {
            return {
                visible: false,
                name: '',
                selected: null,
                filteredSearch: [],
            };
        },
        computed: {
            filteredDataArray() {
                console.log('called');
                return this.data.filter((option) => {
                    return option
                        .toString()
                        .toLowerCase()
                        .indexOf(this.name.toLowerCase()) >= 0
                })
            }
        },
        methods: {
            showMenu: function(){
                this.visible = !this.visible;
                let noScroll = this.visible ? 'no-scroll' : '';
                app.className = noScroll;
            },
            toggleBlur: function(isActive){
                let blur = isActive ? 'blurred' : '';
                content.className = blur;
            },
            getAsyncData: debounce(function (text) {
                console.log("TEXT");
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/pages/search?query=${text}`)
                .then(({ data }) => {
                    console.log('DATA', data);
                    this.filteredTags = [];
                    data.results.forEach((item) => this.filteredSearch.push(item))
                    this.isFetching = false
                })
                .catch((error) => {
                    this.isFetching = false
                    throw error
                })
            }, 500)
        },
        ready: function() {
            let content = document.getElementById('content');
            let app = document.querySelector('#app');
        }
    }
</script>

<style>
.autocomplete .dropdown-menu {
    display: block;
    min-width: 100%;
}

.dropdown-menu {
    display: none;
    left: 0;
    min-width: 12rem;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    z-index: 20;
}
.autocomplete .dropdown-content {
    overflow: auto;
    max-height: 200px;
}

.dropdown-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    padding-bottom: .5rem;
    padding-top: .5rem;
}
.dropdown-item, .dropdown .dropdown-menu .has-link a {
    color: #4a4a4a;
    display: block;
    font-size: .875rem;
    line-height: 1.5;
    padding: .375rem 1rem;
    position: relative;
}
.nav-standard__search-block {
    display: none;
    background-color: #323232;
    border: none;
    border-radius: 0;
}
.nav-standard__search-block div {
    height: 100%;
    width: 100%;
}
@media (min-width: 769px) {
    .nav-standard__search-block {
        display: inline-block;
    }
    .nav-standard__search-block input {
        -webkit-box-flex: 3;
        -ms-flex: 3 3 75%;
        flex: 3 3 75%;
        height: 100%;
        font-size: 1.5rem;
        padding: 0.5rem 1rem 0.5rem 3rem;
        outline: none;
        background-color: #323232;
        border: none;
        border-radius: 0;
        color: #ee7d29;
    }
}
</style>

