<template>
    <div>
        <section class="section">
            <div class="container" v-if="items.type.blocks != null">
                <div class="columns is-multiline">
                    <div v-for="(item, index) in items.type.blocks" v-bind:key="index" class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <a :href="item.slug">
                                        <div class="cards_image" v-bind:style="{ 'background-image': 'url(' + (item.image != null ?  settings.image_url + item.image : '/storage/placeholders/' + items.type.type + '-placeholder.jpg') + ')'  }"></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div v-if="item.download != null" class="media-content">
                                        <a :href="settings.image_url + item.download" download><p class="title is-4">{{ item.title }}</p></a>
                                    </div>
                                    <div v-else class="media-content">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70"><path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path></svg>
                                        <a :href="item.slug"><p class="title is-4">{{ item.title }}</p></a>
                                    </div>
                                </div>
                                <div class="content" v-if="item.type == 'article' || item.type == 'news-event'">
                                    {{ item.subtitle }}
                                    <span v-text="date(item.created_at)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container content" v-for="(item, index) in items.blocks.blocks" v-bind:key="index" v-if="items.blocks.blocks != null">
                <section class="section" v-if="item.video_url != null">
                    <iframe width="100%" height="450px" :src="'https://www.youtube.com/embed/' + item.video_url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </section>
                <figure v-if="item.image != null">
                    <img :src="settings.image_url + item.image">
                </figure>
                <div class="content" v-if="item.type == 'article' || item.type == 'news-event'">
                    Date Published:
                    <span v-text="date(item.created_at)"></span>
                </div>
                <div v-if="settings.seofriendly != true" class="content" v-html="item.content">

                </div>
                <div v-if="item.download != null">
                    <a class="button" :href="settings.image_url + item.download" target="_blank" download>
                        <span class="icon is-small">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" />
                            </svg>
                        </span>
                        <span>{{ item.download_description }}</span>
                    </a>
                </div>
            </div>
            <div v-if="items.accordion != null" class="container">
                <accordion-component :data="items.accordion"></accordion-component>
            </div>
            <div v-if="items.forms != null" class="container" style="margin-top:1.5rem">
                <div>
                    {{ items.forms.description }}
                 </div>   
                <form-component :data="items.forms.forms"></form-component>
            </div>
        </section>
    </div>
</template>

<script>
    import Hero from './HeroComponent.vue';
    import Moment from 'moment';
    export default {
        props: ['data', 'pagedebug', 'settings'],
        components: { Hero },
        data() {
            return {
                items: []
            };
        },
        methods: {
            date(date) {
                return Moment(date).format('MMMM Do YYYY');
            }
        },
        beforeMount: function () {
            if (this.data) {
                this.items = this.data;
            } else {
                this.items = {};
            }
            if (typeof this.items.banner == 'undefined') {
                this.items.banner = {};
                this.items.banner.columns = null;
            }
            if (typeof this.items.accordion == 'undefined') {
                this.items.accordion = {};
                this.items.accordion.blocks = null;
            }
            if (typeof this.items.blocks == 'undefined') {
                this.items.blocks = {};
                this.items.blocks.blocks = null;
            }
            if (typeof this.items.type == 'undefined') {
                this.items.type = {};
                this.items.type.blocks = null;
            }
            if (this.pagedebug) {
                console.log(this.data, this.items);
            }
        },
    }
</script>