<template>
  <div>
      <section class="section">
        <article class="message">
            <div class="message-header">
            <p>Page</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.blocks.active"
                        true-value=true
                        false-value=false>
                    </b-switch>
                </div>
                <b-field label="Enter a block tag">
                    <b-taginput
                        v-model="items.blocks.blocks"
                        :data="filteredTags"
                        maxtags="10"
                        autocomplete
                        field="title"
                        icon="label"
                        placeholder="Add a block"
                        @typing="getAsyncData">
                    </b-taginput>
                </b-field>
                <pre style="max-height: 400px"><b>Tags:</b>{{ items.blocks.blocks }}</pre>
            </div>
        </article>
    </section>
    <section class="section">
        <article class="message">
            <div class="message-header">
            <p>Full Page Hero</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.splashhero.active"
                        true-value=true
                        false-value=false>
                    </b-switch>
                </div>
                <b-field label="Enter a block tag">
                    <b-taginput
                        v-model="items.splashhero.blocks"
                        :data="filteredTags"
                        maxtags="1"
                        autocomplete
                        field="title"
                        icon="label"
                        placeholder="Add a block"
                        @typing="getAsyncData">
                    </b-taginput>
                </b-field>
                <!-- <pre style="max-height: 400px"><b>Tags:</b>{{ items.splashhero.blocks }}</pre> -->
            </div>
        </article>
    </section>
    <section class="section">
      <article class="message">
            <div class="message-header">
            <p>Forms</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.forms.active"
                        true-value="true"
                        false-value="false">
                    </b-switch>
                </div>
                <b-field label="Enter a form tag">
                    <b-taginput
                        v-model="items.forms.forms"
                        :data="filteredForms"
                        maxtags="5"
                        autocomplete
                        field="key"
                        icon="label"
                        placeholder="Add a form"
                        @typing="getAsyncFormData">
                    </b-taginput>
                </b-field>
            </div>
      </article>
    </section>
    <section class="section">
        <article class="message">
            <div class="message-header">
                <p>Tiles</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.tiles.active"
                        true-value="true"
                        false-value="false">
                    </b-switch>
                </div>
                <b-field label="Enter a block tag for the main tile section">
                    <b-taginput
                        v-model="items.tiles.tiles1"
                        :data="filteredTags"
                        maxtags="1"
                        autocomplete
                        field="title"
                        icon="label"
                        placeholder="Add a block"
                        @typing="getAsyncData">
                    </b-taginput>
                </b-field>
                <b-field label="Enter some block tags for the remaining sections">
                    <b-taginput
                        v-model="items.tiles.tiles2"
                        :data="filteredTags"
                        maxtags="3"
                        autocomplete
                        field="title"
                        icon="label"
                        placeholder="Add a block"
                        @typing="getAsyncData">
                    </b-taginput>
                </b-field>
            </div>
        </article>
    </section>
    <section class="section">
        <article class="message">
            <div class="message-header">
            <p>Hero Banner</p>
            </div>
        <div class="message-body">
            <div class="field">
                <label for="action" class="label">
                Active
                </label> 
                <b-switch v-model="items.hero.active"
                    true-value="true"
                    false-value="false">
                </b-switch>
            </div>
            <b-field label="Enter some block tags">
                <b-taginput
                    v-model="items.hero.hero"
                    :data="filteredTags"
                    maxtags="1"
                    autocomplete
                    field="title"
                    icon="label"
                    placeholder="Add a block"
                    @typing="getAsyncData">
                </b-taginput>
            </b-field>
             <pre style="max-height: 400px"><b>Tags:</b>{{ items.hero.hero }}</pre>
        </div>
      </article>
    </section>
    <section class="section">
      <article class="message">
            <div class="message-header">
            <p>Articles</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.articles.active"
                        true-value="true"
                        false-value="false">
                    </b-switch>
                </div>
                <b-field label="Enter a block tag">
                    <b-taginput
                        v-model="items.articles.articles"
                        :data="filteredTags"
                        maxtags="10"
                        autocomplete
                        field="title"
                        icon="label"
                        placeholder="Add a block"
                        @typing="getAsyncData">
                    </b-taginput>
                </b-field>
            </div>
      </article>
    </section>
    <section class="section">
      <article class="message">
            <div class="message-header">
            <p>Cards</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.cards.active"
                        true-value="true"
                        false-value="false">
                    </b-switch>
                </div>
                <b-field label="Enter a block tag">
                    <b-taginput
                        v-model="items.cards.cards"
                        :data="filteredTags"
                        maxtags="10"
                        autocomplete
                        field="title"
                        icon="label"
                        placeholder="Add a block"
                        @typing="getAsyncData">
                    </b-taginput>
                </b-field>
            </div>
      </article>
    </section>
    <section class="section">
      <article class="message">
            <div class="message-header">
            <p>Course List</p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.courses.active"
                        true-value="true"
                        false-value="false">
                    </b-switch>
                </div>
                <b-field label="Enter a block tag">
                    <b-taginput
                        v-model="items.courses.courses"
                        :data="filteredTags"
                        maxtags="5"
                        autocomplete
                        field="title"
                        icon="label"
                        placeholder="Add a block"
                        @typing="getAsyncCourseData">
                    </b-taginput>
                </b-field>
            </div>
      </article>
    </section>
    <section class="section">
        <button class="button is-medium" @click="store">
            Save Page Settings
        </button>
    </section>
  </div>
</template>

<script>
    import debounce from 'lodash/debounce'
    const classes = require('./assets/data_test.json')

    export default {
        props: ['page', 'pagedebug'],
        data() {
            return {
                items: [],
                filteredTags: [],
                filteredForms: [],
                isSelectOnly: false
            }
        },
        methods: {
            store (page) {
                this.$http.post(
                    '/admin/page/save', 
                    this.items,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then(response => {
                    this.$toast.open(response.data.response)
                }).catch((error) => {
                    this.$toast.open(response.data.response)
                    throw error
                });
            },
            getFilteredTags(text) {
                this.filteredTags = classes.filter((option) => {
                    return option.user.first_name
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            },
            getAsyncData: debounce(function (text) {
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/pages/search?query=${text}`)
                    .then(({ data }) => {
                        this.filteredTags = [];
                        data.results.forEach((item) => this.filteredTags.push(item))
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500),
            getAsyncCourseData: debounce(function (text) {
                console.log('texttype', text);
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/courses/search?query=${text}`)
                    .then(({ data }) => {
                        this.filteredTags = [];
                        data.results.forEach((item) => this.filteredTags.push(item))
                        console.log(this.filteredTags);
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500),
            getAsyncFormData: debounce(function (text) {
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/forms/search?query=${text}`)
                    .then(({ data }) => {
                        data.results[0].forms = JSON.parse(data.results[0].value);
                        console.log('FORM',data);
                        this.filteredForms = [];
                        data.results.forEach((item) => this.filteredForms.push(item))
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500)
        },
        beforeMount: function () {
            if (this.blocks !== 'undefined') {
                this.items = JSON.parse(this.page.data);
            } else {
                this.items = {};
            }
            if (typeof this.items.page == 'undefined') {
                this.items.page = this.page;
            }
            if (typeof this.items.courses == 'undefined') {
                this.items.courses = {};
            }
            if (typeof this.items.blocks == 'undefined') {
                this.items.blocks = {};
            } 
            if (typeof this.items.articles == 'undefined') {
                this.items.articles = {};
            }
            if (typeof this.items.splashhero == 'undefined') {
                this.items.splashhero = {};
            }
            if (typeof this.items.hero == 'undefined') {
                this.items.hero = {};
            }
            if (typeof this.items.tiles == 'undefined') {
                this.items.tiles = {};
            }
            if (typeof this.items.cards == 'undefined') {
                this.items.cards = {};
            }
            if (typeof this.items.forms == 'undefined') {
                this.items.forms = {};
            }
            if (this.pagedebug) {
                console.log(this.page, this.items);
            }
        },
        mounted() {
            console.log('PageComponent mounted.')
        }
    }
</script>

<style>
.message-body {
    padding: 2.25em 1.5em;
}
</style>