<template>
    <section>
        <div class="box">
            <p class="subtitle">General Settings</p>
            <b-field label="Company Name">
                <b-input maxlength="40" name="company_name" placeholder="The name or your company or organisation" v-model="items.company_name"></b-input>
            </b-field>

            <b-field label="Tagline">
                <b-input maxlength="40" name="tagline" placeholder="Your company tagline e.g. Just Do It" v-model="items.tagline"></b-input>
            </b-field>

            <b-field label="Image URL">
                <b-input maxlength="100" name="image_url" placeholder="The image URL used for this site e.g. AWS" v-model="items.image_url"></b-input>
            </b-field>

            <b-field label="Company URL">
                <b-input maxlength="40" name="company_url" placeholder="The existing URL of your company/ organisation" v-model="items.company_url"></b-input>
            </b-field>
 
            <b-field label="SVG Logo">
                <b-input type="textarea" name="svg_logo" placeholder="Insert SVG Code" v-model="items.svg_logo"></b-input>
            </b-field>
            <div v-html="rawHtml"></div>
            <a href="https://jakearchibald.github.io/svgomg/">Optimise your logo before saving!</a>
        </div>
        <div class="box">
            <p class="subtitle">Contact Information</p>

            <b-field label="Phone">
                <b-input type="tel"
                    name="phone"
                    placeholder="Your company's main phone number"
                    autocomplete="on"
                    v-model="items.phone"
                >
                </b-input>
            </b-field>

            <b-field label="Mobile">
                <b-input type="tel"
                    name="mobile"
                    placeholder="Your company's main mobile phone number"
                    autocomplete="on"
                    v-model="items.mobile"
                >
                </b-input>
            </b-field>

            <b-field label="Form Submissions Email">
                <b-input type="email"
                    name="form_email"
                    placeholder="The email you wish to use to receive form submissions"
                    autocomplete="on"
                    maxlength="30"
                    v-model="items.form_email"
                >
                </b-input>
            </b-field>

            <b-field label="Enquiries Email">
                <b-input type="email"
                    name="site_email"
                    placeholder="The email you wish to use for general enquiries"
                    autocomplete="on"
                    maxlength="30"
                    v-model="items.site_email"
                >
                </b-input>
            </b-field>
        </div>
        <div class="box">
            <p class="subtitle">API Keys</p>
            <b-field label="API Key 1">
                <b-input  maxlength="100" name="apikey1" placeholder="e.g. Google Maps API Key" v-model="items.apikey1"></b-input>
            </b-field>

            <b-field label="JSON Settings">
                <b-input type="textarea" name="apisettings1" placeholder="e.g. Google Maps Settings" v-model="items.apisettings1"></b-input>
            </b-field>

            <b-field label="API Key 2">
                <b-input  maxlength="100" name="apikey2" placeholder="e.g. Google Maps API Key" v-model="items.apikey2"></b-input>
            </b-field>

            <b-field label="JSON Settings">
                <b-input type="textarea" name="apisettings2" placeholder="e.g. Google Maps Settings" v-model="items.apisettings2"></b-input>
            </b-field>

            <b-field label="API Key 3">
                <b-input  maxlength="100" name="apikey3" placeholder="e.g. Google Maps API Key" v-model="items.apikey3"></b-input>
            </b-field>

            <b-field label="JSON Settings">
                <b-input type="textarea" name="apisettings3" placeholder="e.g. Google Maps Settings" v-model="items.apisettings3"></b-input>
            </b-field>
        </div>
        <div class="box">
            <p class="subtitle">Social Media</p>
            <b-field label="Social Media URL 1">
                <b-input maxlength="100" name="social1" placeholder="e.g. facebook.com/somecompany" v-model="items.social1"></b-input>
            </b-field>

            <b-field label="Social Media URL 2">
                <b-input maxlength="100" name="social2" placeholder="e.g. facebook.com/somecompany" v-model="items.social2"></b-input>
            </b-field>

             <b-field label="Social Media URL 3">
                <b-input maxlength="100" name="social3" placeholder="e.g. facebook.com/somecompany" v-model="items.social3"></b-input>
            </b-field>

             <b-field label="Social Media URL 4">
                <b-input maxlength="100" name="social4" placeholder="e.g. facebook.com/somecompany" v-model="items.social4"></b-input>
            </b-field>

             <b-field label="Social Media URL 5">
                <b-input maxlength="100" name="social5" placeholder="e.g. facebook.com/somecompany" v-model="items.social5"></b-input>
            </b-field>
        </div>
        <div class="box">
            <p class="subtitle">Footer</p>
            
            <b-field label="Logo">
                <b-input type="textarea" name="svg_logo" placeholder="Insert SVG Code" v-model="items.footer.svg_logo"></b-input>
            </b-field>
            <div v-html="footerlogo"></div>
            <a href="https://jakearchibald.github.io/svgomg/">Optimise your logo before saving!</a>
            <p>-- or --</p>
            <b-field class="file">
                <b-upload v-model="files" name="logo">
                    <a class="button is-primary">
                        <b-icon icon="upload"></b-icon>
                        <span>Click to upload</span>
                    </a>
                </b-upload>
                <span class="file-name" v-if="files && files.length">
                    {{ files[0].name }}
                </span>
            </b-field>

            <b-field label="Enter a block tag for the main footer section">
                <b-taginput
                    v-model="items.footer.main"
                    :data="filteredTags"
                    maxtags="1"
                    autocomplete
                    field="title"
                    icon="label"
                    placeholder="Add a block"
                    @typing="getAsyncData">
                </b-taginput>
            </b-field>
            <pre style="max-height: 400px"><b>Tags:</b>{{ items.footer.main }}</pre>

            <b-field label="Footer Category 1">
                <b-input maxlength="100" name="footer1" placeholder="e.g. Categories" v-model="items.footer.heading1"></b-input>
            </b-field>

            <b-field label="Choose blocks that relate to Footer Category 1">
                <b-taginput
                    v-model="items.footer.category1"
                    :data="filteredTags"
                    maxtags="10"
                    autocomplete
                    field="title"
                    icon="label"
                    placeholder="Add a block"
                    @typing="getAsyncData">
                </b-taginput>
            </b-field>
            <pre style="max-height: 400px"><b>Tags:</b>{{ items.footer.category1 }}</pre>

            <b-field label="Footer Category 2">
                <b-input maxlength="100" name="footer2" placeholder="e.g. Company" v-model="items.footer.heading2"></b-input>
            </b-field>

            <b-field label="Choose blocks that relate to Footer Category 2">
                <b-taginput
                    v-model="items.footer.category2"
                    :data="filteredTags"
                    maxtags="10"
                    autocomplete
                    field="title"
                    icon="label"
                    placeholder="Add a block"
                    @typing="getAsyncData">
                </b-taginput>
            </b-field>
            <pre style="max-height: 400px"><b>Tags:</b>{{ items.footer.category2 }}</pre>

             <b-field label="Footer Category 3">
                <b-input maxlength="100" name="footer3" placeholder="e.g. Connect With Us" v-model="items.footer.heading3"></b-input>
            </b-field>

            <b-field label="Choose blocks that relate to Footer Category 3">
                <b-taginput
                    v-model="items.footer.category3"
                    :data="filteredTags"
                    maxtags="10"
                    autocomplete
                    field="title"
                    icon="label"
                    placeholder="Add a block"
                    @typing="getAsyncData">
                </b-taginput>
            </b-field>
            <pre style="max-height: 400px"><b>Tags:</b>{{ items.footer.category3 }}</pre>

        </div>
        <div class="box">
            <p class="subtitle">Legal Information</p>
            <b-field label="Legal Message">
                <b-input type="textarea" name="legal" v-model="this.items.legal" placeholder="Message displayed at the bottom of every page advising of legal terms and conditions"></b-input>
            </b-field>
        </div>
        <section class="section">
            <button class="button is-medium" @click.stop.prevent="store">
                Save Homepage Settings
            </button>
        </section>
    </section>
</template>

<script>
    import debounce from 'lodash/debounce'  
    export default {
        props: ['settings', 'settingsdebug'],
        data() {
            return {
                items: [],
                files: [],
                rawHtml: null,
                footerlogo: null,
                filteredTags: [],
                isSelectOnly: false
            }
        },
        methods: {
            store (page) {
                this.$http.post(
                    '/admin/settings/save', 
                    this.items,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then(response => {
                    this.$toast.open(response.data.response)
                }).catch((error) => {
                    this.$toast.open(response.data.response)
                    throw error
                });
            },
            getFilteredTags(text) {
                this.filteredTags = classes.filter((option) => {
                    return option.user.first_name
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            },
            getAsyncData: debounce(function (text) {
                console.log('texttype', text);
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/pages/search?query=${text}`)
                    .then(({ data }) => {
                        this.filteredTags = [];
                        data.results.forEach((item) => this.filteredTags.push(item))
                        console.log(this.filteredTags);
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500),
            getAsyncCourseData: debounce(function (text) {
                console.log('texttype', text);
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/courses/search?query=${text}`)
                    .then(({ data }) => {
                        this.filteredTags = [];
                        data.results.forEach((item) => this.filteredTags.push(item))
                        console.log(this.filteredTags);
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500)
        },
        beforeMount: function () {
            if (typeof this.settings !== 'undefined' && this.settings.length > 0) {
                this.items = this.settings;
                this.rawHtml = this.settings.svg_logo;
                this.footerlogo = this.settings.footer.svg_logo;
            } else {
                this.items = {"logo": null, "phone": null, "mobile": null, "apikey1": null, "apikey2": null, "apikey3": null, "social1": null, "social2": null, "social3": null, "social4": null, "social5": null, "tagline": null, "svg_logo": null, "legal": null, "form_email": null, "site_email": null, "company_url": null, "apisettings1": null, "apisettings2": null, "apisettings3": null, "company_name": null, "image_url": null, "footer": {} };
            }
            if (this.settingsdebug) {
                console.log(this.settings, this.items);
            }
        }
    }
</script>
