<template>
  <div>
    <section class="section">
        <article class="message">
                <div class="message-header">
                <p>Add top level Menu Item</p>
                </div>
                <div class="message-body">
                    <b-field label="Enter a block name">
                        <b-taginput
                            v-model="items"
                            :data="filteredTags"
                            maxtags="10"
                            autocomplete
                            field="title"
                            icon="label"
                            placeholder="Add a block"
                            @typing="getAsyncData">
                        </b-taginput>
                    </b-field>
                </div>
        </article>
    </section>
    <div class="notification is-primary" v-for="(primary, index) in items" v-bind:key="index">
        <button class="delete"></button>
        {{ primary.title }}
        <b-field label="Enter a block name">
            <b-taginput
                v-model="primary.children"
                :data="filteredTags"
                maxtags="10"
                autocomplete
                field="title"
                icon="label"
                placeholder="Add a block"
                @typing="getAsyncData">
            </b-taginput>
        </b-field>
        <div class="notification is-info" v-for="(secondary, index) in primary.children" v-bind:key="index">
            {{ secondary.title }}
            <b-field label="Enter a block name">
                <b-taginput
                    v-model="secondary.children"
                    :data="filteredTags"
                    maxtags="10"
                    autocomplete
                    field="title"
                    icon="label"
                    placeholder="Add a block"
                    @typing="getAsyncData">
                </b-taginput>
            </b-field>
            <div class="notification is-danger" v-for="(tertiary, index) in secondary.children" v-bind:key="index">
                {{ tertiary.title }}
            </div>
        </div>
    </div>
    <section class="section">
        <button class="button is-medium" @click="store">
            Save Homepage Settings
        </button>
    </section>
  </div>
</template>

<script>
    import debounce from 'lodash/debounce'
    const classes = require('./assets/data_test.json')

    export default {
        props: ['values', 'taxonomydebug'],
        data() {
            return {
                items: [],
                filteredTags: [],
                isSelectOnly: false
            }
        },
        methods: {
            store (page) {
                this.$http.post(
                    '/admin/homepage/save', 
                    this.items,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then(response => {
                    this.$toast.open(response.data.response)
                }).catch((error) => {
                    this.$toast.open(response.data.response)
                    throw error
                });
            },
            getFilteredTags(text) {
                this.filteredTags = classes.filter((option) => {
                    return option.user.first_name
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            },
            getAsyncData: debounce(function (text) {
                console.log('texttype', text);
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/pages/search?query=${text}`)
                    .then(({ data }) => {
                        this.filteredTags = [];
                        data.results.forEach((item) => this.filteredTags.push(item))
                        console.log(this.filteredTags);
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500)
        },
        beforeMount: function () {
            if (false && this.values != null) {
                // this.items = [{"text":"Chocolate Beverage","id":"1","parentid":"-1"},{"id":"2","parentid":"1","text":"Hot Chocolate"},{"id":"3","parentid":"1","text":"Peppermint Hot Chocolate"},{"id":"4","parentid":"1","text":"Salted Caramel Hot Chocolate"},{"id":"5","parentid":"1","text":"White Hot Chocolate"},{"id":"6","text":"Espresso Beverage","parentid":"-1"},{"id":"7","parentid":"6","text":"Caffe Americano"},{"id":"8","text":"Caffe Latte","parentid":"6"},{"id":"9","text":"Caffe Mocha","parentid":"6"},{"id":"10","text":"Cappuccino","parentid":"6"},{"id":"11","text":"Pumpkin Spice Latte","parentid":"6"},{"id":"12","text":"Frappuccino","parentid":"-1"},{"id":"13","text":"Caffe Vanilla Frappuccino","parentid":"12"},{"id":"15","text":"450 calories","parentid":"13"},{"id":"16","text":"16g fat","parentid":"13"},{"id":"17","text":"13g protein","parentid":"13"},{"id":"14","text":"Caffe Vanilla Frappuccino Light","parentid":"12"}];
            } else {
                this.items = [];
            }
        },
        mounted() {
            console.log('Taxonomy Component mounted.')
        }
    }
</script>
