<template>
    <section :class="{ section: isSection }" class="is-tilesection">
        <div class="">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    <div class="tile">
                        <div class="tile is-parent is-slick">
                            <a :href="item.slug" v-for="(item, index) in items.tiles1" v-bind:key="index" :class="item.classes" class="tile is-child notification is-info pushtobottom" style="width:100%;" v-bind:style="{ 'background-image': 'url(' + settings.image_url + item.image + ')'  }">
                                <p class="title is-size-1-desktop">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70" height="30">
                                        <path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path>
                                    </svg>
                                    <br>{{ item.title }}</p>
                                <p class="subtitle" style="width:100%;">{{ item.subtitle }}</p>
                            </a>
                        </div>
                        <div class="tile is-parent is-vertical">
                            <a :href="item.slug" v-for="(item, index) in items.tiles2" v-bind:key="index" :class="item.classes" class="tile is-child notification is-danger pushtobottom" v-bind:style="{ 'background-image': 'url(' + settings.image_url +  item.image + ')'  }">
                                <p class="title is-size-1-desktop">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70" height="30">
                                        <path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"></path>
                                    </svg>
                                    <br>{{ item.title }}
                                </p>
                                <p class="subtitle" style="width:100%;">{{ item.subtitle }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  export default {
        props: ['tiles', 'settings'],
        data() {
          return {
            items: [],
            isSection: true
          }
        },
        beforeMount: function () {
            if (typeof this.tiles !== 'undefined') {
                this.items = this.tiles;
            }
        }
    }
</script>
