<template>
  <section :class="{ section: isSection }" class="is-tilesection">
      <CustomTile :data="tileData">
        <template slot-scope="{row}">
          <a :href="row.text" class="tile is-child notification" :class="row.class" :style="row.style">
            <p class="title is-1">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70">
                <path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"/>
              </svg>
              <br>
              {{row.title}}
            </p>
            <p class="subtitle">{{row.text}}</p>
          </a>
        </template>  
      </CustomTile>
  </section>
</template>

<script>
  	import CustomTile from './Tile.vue'

    export default {
        components: {
          CustomTile
        },
        data() {
          return {
            isSection: true,
            tileData: [
            {
              text: '',
              title: 'Training', 
              icon: 'fa fa-user',
              style: 'background-image: url(http://es2.mmddevelopment.co.uk/wp-content/uploads/2016/11/IMG_0486.jpg);',
              class: 'is-danger pushtobottom'
            },
            {
              text: '',
              title: 'Arc Flash',
              icon: 'fa fa-copy',
              style: 'background-image: url(https://www.elecsafety.co.uk/wp-content/uploads/2016/11/banner2.jpg);',
              class: 'is-danger pushtobottom'
            }]
          }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
