<template>
  <div :class="{ container: isContainer }">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile">
          <div class="tile is-parent">
              <article class="tile is-child notification is-info pushtobottom" style="height: 600px;background-image: url(https://www.elecsafety.co.uk/wp-content/uploads/2016/11/home-banner.jpg);">
              <p class="title is-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.8 15.5" width="70">
                <path fill="#f39200" d="M0 0v15.5h54.8L39.3 0z"/>
              </svg>
              <br>Electrical Safety UK</p>
              <p class="subtitle">Electrical Safety Management is our core business. We provide expert consultancy and advice for blue trip organisations across Europe concerned with the safe management of risk associated with all electrical work activities</p>
            </article>
          </div>
          <div class="tile is-parent is-vertical">
            <slot :row="item" v-for="item in data">
              test
            </slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'l-table',
    props: {
      columns: Array,
      data: Array
    },
    data() {
      return {
        isContainer: false
      }
    },
    methods: {
      hasValue (item, column) {
        return item[column.toLowerCase()] !== 'undefined'
      },
      itemValue (item, column) {
        return item[column.toLowerCase()]
      }
    }
  }
</script>
