<template>
    <div>
        <section class="section">
            <article class="message">
                <div class="message-header">
                <p>Hero Banner</p>
                </div>
            <div class="message-body">
                <div class="field">
                    <label for="action" class="label">
                    Active
                    </label> 
                    <b-switch v-model="items.hero.active"
                        true-value="true"
                        false-value="false">
                    </b-switch>
                </div>
                <b-field label="Hero Title">
                    <b-input v-model="items.hero.hero[0].title"></b-input>
                </b-field>
            </div>
        </article>
        </section>
        <section class="section">
            <article class="message">
                <div class="message-header">
                <p>{{ type }} Settings</p>
                </div>
                <div class="message-body">
                    <b-field label="Route (if left blank will default to type)">
                        <b-input v-model="items.type.route"></b-input>
                    </b-field>
                    <div class="field">
                        <label for="action" class="label">
                        Display all {{ type }}s (set to "off" if you're adding blocks below)
                        </label> 
                        <b-switch v-model="items.type.all"
                            true-value=true
                            false-value=false>
                        </b-switch>
                    </div>
                    <b-field label="Enter a block tag (order displayed will be determined by the order in which you add blocks)">
                        <b-taginput
                            v-model="items.type.blocks"
                            :data="filteredTags"
                            autocomplete
                            field="title"
                            icon="label"
                            placeholder="Add a block"
                            @typing="getAsyncData">
                        </b-taginput>
                    </b-field>
                    <!-- <pre style="max-height: 400px"><b>Tags:</b>{{ items.type.blocks }}</pre> -->
                </div>
            </article>
        </section>
        <section class="section">
            <button class="button is-medium" @click="store">
                Save Type Settings
            </button>
        </section>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce'
    const classes = require('./assets/data_test.json')

    export default {
        props: ['type', 'typedebug', 'page'],
        data() {
            return {
                items: [],
                filteredTags: [],
                isSelectOnly: false
            }
        },
        methods: {
            store (page) {
                this.$http.post(
                    '/admin/type/save', 
                    this.items,
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }
                ).then(response => {
                    this.$toast.open(response.data.response)
                }).catch((error) => {
                    this.$toast.open(response.data.response)
                    throw error
                });
            },
            getFilteredTags(text) {
                this.filteredTags = classes.filter((option) => {
                    return option.user.first_name
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            },
            getAsyncData: debounce(function (text) {
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/pages/search?query=${text}&type=${this.type}`)
                    .then(({ data }) => {
                        this.filteredTags = [];
                        data.results.forEach((item) => this.filteredTags.push(item))
                        console.log(this.filteredTags);
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500),
            getAsyncCourseData: debounce(function (text) {
                console.log('texttype', text);
                this.data = []
                this.isFetching = true
                this.$http.get(`/admin/courses/search?query=${text}`)
                    .then(({ data }) => {
                        this.filteredTags = [];
                        data.results.forEach((item) => this.filteredTags.push(item))
                        console.log(this.filteredTags);
                        this.isFetching = false
                    })
                    .catch((error) => {
                        this.isFetching = false
                        throw error
                    })
            }, 500)
        },
        beforeMount: function () {
            if (this.page) {
                this.items = JSON.parse(this.page.data);
            } else {
                this.items = {};
            }
            if (typeof this.items.hero == 'undefined') {
                this.items.hero = {};
                this.items.hero.active = true;
                this.items.hero.hero = [];
                this.items.hero.hero.push({'title': this.type});
            }
            if (typeof this.items.type == 'undefined') {
                this.items.type = {};
                this.items.type.type = this.type;
                this.items.type.route = this.type;
                this.items.type.all = true;
                this.items.type.blocks = null;
            }
            if (this.typedebug) {
                console.log(this.page, this.items);
            }
        },
        mounted() {
            console.log('Type Component mounted.')
        }
    }
</script>

<style>
.message-body {
    padding: 2.25em 1.5em;
}
</style>